In [4]:
#1 STEP: Find all unique carriers from the airlines table
import sqlite3

# Connect to an in-memory SQLite database (replace with your database connection if needed)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Assuming 'airlines' table exists, you might need to create it or load data first
# For demonstration, let's create a dummy 'airlines' table and insert some data
cursor.execute("""
CREATE TABLE airlines (
    carrier TEXT
);
""")
cursor.execute("INSERT INTO airlines (carrier) VALUES ('AA');")
cursor.execute("INSERT INTO airlines (carrier) VALUES ('UA');")
cursor.execute("INSERT INTO airlines (carrier) VALUES ('DL');")
cursor.execute("INSERT INTO airlines (carrier) VALUES ('AA');")


result = cursor.execute("""
SELECT DISTINCT carrier
FROM airlines;
""")

# Print the result
print(result.fetchall())

# Close the connection
conn.close()

[('AA',), ('UA',), ('DL',)]

In [6]:
#1.2import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    dest TEXT
);
""")
cursor.execute("INSERT INTO flights (dest) VALUES ('LAX');")
cursor.execute("INSERT INTO flights (dest) VALUES ('JFK');")
cursor.execute("INSERT INTO flights (dest) VALUES ('LAX');")
cursor.execute("INSERT INTO flights (dest) VALUES ('ORD');")
cursor.execute("INSERT INTO flights (dest) VALUES ('JFK');")
cursor.execute("INSERT INTO flights (dest) VALUES ('LAX');")


result = cursor.execute("""
SELECT dest, COUNT(*) AS flight_count
FROM flights
GROUP BY dest
ORDER BY flight_count DESC
LIMIT 10;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('LAX', 3), ('JFK', 2), ('ORD', 1)]

In [8]:
#1.3 import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    dep_delay INTEGER
);
""")
cursor.execute("INSERT INTO flights (dep_delay) VALUES (10);")
cursor.execute("INSERT INTO flights (dep_delay) VALUES (150);")
cursor.execute("INSERT INTO flights (dep_delay) VALUES (30);")
cursor.execute("INSERT INTO flights (dep_delay) VALUES (200);")
cursor.execute("INSERT INTO flights (dep_delay) VALUES (90);")


result = cursor.execute("""
SELECT *
FROM flights
WHERE dep_delay > 120;
""")

print(result.fetchall())

# Close the connection
conn.close()

[(150,), (200,)]

In [10]:
#2 import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    origin TEXT,
    dep_delay INTEGER
);
""")
cursor.execute("INSERT INTO flights (origin, dep_delay) VALUES ('JFK', 10);")
cursor.execute("INSERT INTO flights (origin, dep_delay) VALUES ('LAX', 150);")
cursor.execute("INSERT INTO flights (origin, dep_delay) VALUES ('JFK', 30);")
cursor.execute("INSERT INTO flights (origin, dep_delay) VALUES ('LAX', 200);")
cursor.execute("INSERT INTO flights (origin, dep_delay) VALUES ('ORD', 90);")


result = cursor.execute("""
SELECT origin, AVG(dep_delay) AS avg_dep_delay
FROM flights
GROUP BY origin;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('JFK', 20.0), ('LAX', 175.0), ('ORD', 90.0)]

In [12]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    month INTEGER
);
""")
cursor.execute("INSERT INTO flights (month) VALUES (1);")
cursor.execute("INSERT INTO flights (month) VALUES (2);")
cursor.execute("INSERT INTO flights (month) VALUES (1);")
cursor.execute("INSERT INTO flights (month) VALUES (3);")
cursor.execute("INSERT INTO flights (month) VALUES (2);")
cursor.execute("INSERT INTO flights (month) VALUES (1);")


result = cursor.execute("""
SELECT month, COUNT(*) AS flight_count
FROM flights
GROUP BY month
ORDER BY flight_count DESC
LIMIT 1;
""")

print(result.fetchall())

# Close the connection
conn.close()

[(1, 3)]

In [14]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    carrier TEXT,
    dep_delay INTEGER
);
""")
cursor.execute("INSERT INTO flights (carrier, dep_delay) VALUES ('AA', 10);")
cursor.execute("INSERT INTO flights (carrier, dep_delay) VALUES ('UA', 150);")
cursor.execute("INSERT INTO flights (carrier, dep_delay) VALUES ('DL', 30);")
cursor.execute("INSERT INTO flights (carrier, dep_delay) VALUES ('AA', 5);")
cursor.execute("INSERT INTO flights (carrier, dep_delay) VALUES ('UA', 20);")


result = cursor.execute("""
SELECT carrier,
       COUNT(CASE WHEN dep_delay <= 15 THEN 1 END) * 1.0 / COUNT(*) AS on_time_rate
FROM flights
GROUP BY carrier;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('AA', 1.0), ('DL', 0.0), ('UA', 0.0)]

In [16]:
#3 import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create dummy 'flights' and 'airlines' tables and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    carrier TEXT,
    flight_num INTEGER,
    origin TEXT,
    dest TEXT
);
""")
cursor.execute("INSERT INTO flights (carrier, flight_num, origin, dest) VALUES ('AA', 101, 'JFK', 'LAX');")
cursor.execute("INSERT INTO flights (carrier, flight_num, origin, dest) VALUES ('UA', 202, 'LAX', 'JFK');")
cursor.execute("INSERT INTO flights (carrier, flight_num, origin, dest) VALUES ('AA', 103, 'JFK', 'ORD');")
cursor.execute("INSERT INTO flights (carrier, flight_num, origin, dest) VALUES ('DL', 301, 'ORD', 'LAX');")

cursor.execute("""
CREATE TABLE airlines (
    carrier TEXT,
    name TEXT
);
""")
cursor.execute("INSERT INTO airlines (carrier, name) VALUES ('AA', 'American Airlines');")
cursor.execute("INSERT INTO airlines (carrier, name) VALUES ('UA', 'United Airlines');")
cursor.execute("INSERT INTO airlines (carrier, name) VALUES ('DL', 'Delta Air Lines');")


result = cursor.execute("""
SELECT f.carrier,
       a.name AS airline_name,
       f.flight_num,
       f.origin,
       f.dest
FROM flights f
JOIN airlines a ON f.carrier = a.carrier
LIMIT 20;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('AA', 'American Airlines', 101, 'JFK', 'LAX'), ('UA', 'United Airlines', 202, 'LAX', 'JFK'), ('AA', 'American Airlines', 103, 'JFK', 'ORD'), ('DL', 'Delta Air Lines', 301, 'ORD', 'LAX')]

In [18]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a dummy 'planes' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE planes (
    tailnum TEXT,
    year INTEGER,
    carrier TEXT
);
""")
cursor.execute("INSERT INTO planes (tailnum, year, carrier) VALUES ('N101AA', 1999, 'AA');")
cursor.execute("INSERT INTO planes (tailnum, year, carrier) VALUES ('N202UA', 2005, 'UA');")
cursor.execute("INSERT INTO planes (tailnum, year, carrier) VALUES ('N301DL', 2000, 'DL');")
cursor.execute("INSERT INTO planes (tailnum, year, carrier) VALUES ('N102AA', 2001, 'AA');")
cursor.execute("INSERT INTO planes (tailnum, year, carrier) VALUES ('N203UA', 2010, 'UA');")

result = cursor.execute("""
SELECT carrier,
       AVG(2013 - year) AS avg_plane_age
FROM planes
GROUP BY carrier;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('AA', 13.0), ('DL', 13.0), ('UA', 5.5)]

In [20]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create dummy 'flights' and 'weather' tables and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    year INTEGER,
    month INTEGER,
    day INTEGER,
    hour INTEGER,
    origin TEXT,
    dep_delay INTEGER
);
""")
cursor.execute("INSERT INTO flights (year, month, day, hour, origin, dep_delay) VALUES (2013, 1, 1, 10, 'JFK', 45);")
cursor.execute("INSERT INTO flights (year, month, day, hour, origin, dep_delay) VALUES (2013, 1, 1, 11, 'LAX', 20);")
cursor.execute("INSERT INTO flights (year, month, day, hour, origin, dep_delay) VALUES (2013, 1, 2, 10, 'JFK', 60);")

cursor.execute("""
CREATE TABLE weather (
    year INTEGER,
    month INTEGER,
    day INTEGER,
    hour INTEGER,
    origin TEXT,
    wind_speed REAL,
    precip REAL
);
""")
cursor.execute("INSERT INTO weather (year, month, day, hour, origin, wind_speed, precip) VALUES (2013, 1, 1, 10, 'JFK', 25.0, 0.0);")
cursor.execute("INSERT INTO weather (year, month, day, hour, origin, wind_speed, precip) VALUES (2013, 1, 1, 11, 'LAX', 10.0, 0.2);")
cursor.execute("INSERT INTO weather (year, month, day, hour, origin, wind_speed, precip) VALUES (2013, 1, 2, 10, 'JFK', 15.0, 0.3);")


# Explore the weather table (optional)
result = cursor.execute("""
SELECT *
FROM weather
LIMIT 5;
""")
print("Weather table sample:")
print(result.fetchall())

# Find flights with departure delay > 30 minutes and bad weather conditions
result = cursor.execute("""
SELECT f.*
FROM flights f
JOIN weather w
  ON f.origin = w.origin
  AND f.year = w.year
  AND f.month = w.month
  AND f.day = w.day
  AND f.hour = w.hour
WHERE f.dep_delay > 30
  AND (w.wind_speed > 20 OR w.precip > 0.1);
""")

print("\nFlights with delay > 30 min and bad weather:")
print(result.fetchall())

# Close the connection
conn.close()

Weather table sample:
[(2013, 1, 1, 10, 'JFK', 25.0, 0.0), (2013, 1, 1, 11, 'LAX', 10.0, 0.2), (2013, 1, 2, 10, 'JFK', 15.0, 0.3)]

Flights with delay > 30 min and bad weather:
[(2013, 1, 1, 10, 'JFK', 45), (2013, 1, 2, 10, 'JFK', 60)]

In [22]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create dummy 'flights' and 'planes' tables and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    tailnum TEXT
);
""")
cursor.execute("INSERT INTO flights (tailnum) VALUES ('N101AA');")
cursor.execute("INSERT INTO flights (tailnum) VALUES ('N202UA');")
cursor.execute("INSERT INTO flights (tailnum) VALUES ('N101AA');")
cursor.execute("INSERT INTO flights (tailnum) VALUES ('N301DL');")
cursor.execute("INSERT INTO flights (tailnum) VALUES ('N202UA');")

cursor.execute("""
CREATE TABLE planes (
    tailnum TEXT,
    manufacturer TEXT,
    model TEXT
);
""")
cursor.execute("INSERT INTO planes (tailnum, manufacturer, model) VALUES ('N101AA', 'Boeing', '737');")
cursor.execute("INSERT INTO planes (tailnum, manufacturer, model) VALUES ('N202UA', 'Airbus', 'A320');")
cursor.execute("INSERT INTO planes (tailnum, manufacturer, model) VALUES ('N301DL', 'Boeing', '757');")


result = cursor.execute("""
SELECT p.manufacturer, p.model, COUNT(*) AS flight_count
FROM flights f
JOIN planes p ON f.tailnum = p.tailnum
GROUP BY p.manufacturer, p.model
ORDER BY flight_count DESC
LIMIT 10;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('Airbus', 'A320', 2), ('Boeing', '737', 2), ('Boeing', '757', 1)]

In [24]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create dummy 'flights' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE flights (
    origin TEXT,
    dest TEXT,
    dep_delay INTEGER
);
""")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('JFK', 'LAX', 10);")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('LAX', 'JFK', 150);")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('JFK', 'ORD', 30);")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('LAX', 'ORD', 200);")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('ORD', 'LAX', 90);")
cursor.execute("INSERT INTO flights (origin, dest, dep_delay) VALUES ('JFK', 'LAX', 5);")


# Create dummy 'airports' table and insert some data for demonstration
cursor.execute("""
CREATE TABLE airports (
    iata_code TEXT,
    name TEXT
);
""")
cursor.execute("INSERT INTO airports (iata_code, name) VALUES ('JFK', 'John F. Kennedy International Airport');")
cursor.execute("INSERT INTO airports (iata_code, name) VALUES ('LAX', 'Los Angeles International Airport');")
cursor.execute("INSERT INTO airports (iata_code, name) VALUES ('ORD', 'O''Hare International Airport');")


result = cursor.execute("""
SELECT
  f.origin,
  ao.name AS origin_name,
  f.dest,
  ad.name AS dest_name,
  COUNT(*) AS total_flights,
  AVG(f.dep_delay) AS avg_dep_delay,
  100.0 * SUM(CASE WHEN f.dep_delay > 30 THEN 1 ELSE 0 END) / COUNT(*) AS pct_delayed_over_30
FROM flights f
JOIN airports ao ON f.origin = ao.iata_code
JOIN airports ad ON f.dest = ad.iata_code
GROUP BY f.origin, ao.name, f.dest, ad.name
ORDER BY total_flights DESC
LIMIT 10;
""")

print(result.fetchall())

# Close the connection
conn.close()

[('JFK', 'John F. Kennedy International Airport', 'LAX', 'Los Angeles International Airport', 2, 7.5, 0.0), ('JFK', 'John F. Kennedy International Airport', 'ORD', "O'Hare International Airport", 1, 30.0, 0.0), ('LAX', 'Los Angeles International Airport', 'JFK', 'John F. Kennedy International Airport', 1, 150.0, 100.0), ('LAX', 'Los Angeles International Airport', 'ORD', "O'Hare International Airport", 1, 200.0, 100.0), ('ORD', "O'Hare International Airport", 'LAX', 'Los Angeles International Airport', 1, 90.0, 100.0)]

In [26]:
import polars as pl

# Assuming flights and planes are polars DataFrames already loaded

# Create dummy Polars DataFrames for demonstration
flights = pl.DataFrame({
    "tailnum": ["N101AA", "N202UA", "N101AA", "N301DL", "N202UA"]
})

planes = pl.DataFrame({
    "tailnum": ["N101AA", "N202UA", "N301DL"],
    "manufacturer": ["Boeing", "Airbus", "Boeing"],
    "model": ["737", "A320", "757"]
})


polars_result = (
    flights.join(planes, on="tailnum")
    .group_by(["manufacturer", "model"])
    .agg(pl.count().alias("flight_count"))
    .sort("flight_count", reverse=True)
    .head(10)
)

print(polars_result)

AttributeError: 'DataFrame' object has no attribute 'groupby'